In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('homeprices.csv')

In [3]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [4]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())

In [5]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
lr = LinearRegression()

In [7]:
x_df = df.drop(['price'],axis=1)
x_df

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.0   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

In [8]:
y_df = df.price
y_df

0    550000
1    565000
2    610000
3    595000
4    760000
5    810000
Name: price, dtype: int64

In [9]:
lr = LinearRegression()
lr.fit(x_df,y_df)

LinearRegression()

In [10]:
lr.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [11]:
lr.intercept_

221323.00186540384

In [12]:
lr.predict([[3000,3,40]])

array([498408.25158031])

In [13]:
y = (112.06244194*3000) +(23388.88007794*3) - (3231.71790863*40)+ 221323.00186540384

In [14]:
y

498408.25157402386

In [15]:
df.corr()['price'].sort_values(ascending=False)

price       1.000000
bedrooms    0.919803
area        0.901476
age        -0.734167
Name: price, dtype: float64