In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/adult.csv')

In [3]:
data.head()

,age,work class,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
#standard deviation
data.age.std()

13.71050993444322

In [5]:
#variance
data.age.var()

187.97808266246622

### Standard Deviation 

a quantity expressing by how much the members of a group differ from the mean value for the group.

Standard deviation is the spread of a group of numbers from the mean.

### Variance

The variance measures the average degree to which each point differs from the mean.


var = sigma(x-mu)^2 / (n-1)


sd = sqrt(var) 


where 

mu - mean of the distribution

n - number of elements

In [6]:
sample_series = pd.Series([10,25,30,5,6,18,12,24,33,17])

In [7]:
sample_series.var()

96.44444444444444

In [8]:
sample_series.std()

9.820613241770824

### Range

The difference between the lowest and highest values

here are 4 quartiles in each data distribution, 0(Q0), 25(Q1) , 50(Q2), 75(Q3), 100(Q4)

Range = Q4-Q0 =  (100%ile -  0%ile) = max-min

In [9]:
data_range = sample_series.max() - sample_series.min()
data_range

28

### Inter Quaritle Range (IQR)


There are 4 quartiles in each data distribution, 25(Q1) , 50(Q2), 75(Q3), 100(Q4)


IQR - Range of inner 2 quartiles.


IQR  = Q3 - Q1 =  (75%ile - 25%ile)

In [10]:
des = sample_series.describe()
des

count    10.000000
mean     18.000000
std       9.820613
min       5.000000
25%      10.500000
50%      17.500000
75%      24.750000
max      33.000000
dtype: float64

In [11]:
data_range = des['max'] - des['min']
data_range

28.0

In [12]:
data_iqr = des['75%'] - des['25%']
data_iqr

14.25

In [13]:
import numpy as np

In [14]:
np.quantile(sample_series, .75)

24.75

lower_limit =  Q1 - 1.5*IQR

upper_limit =  Q3 + 1.5*IQR



Any value less than lower_limit and greater than upper_limit is considered as an outlier value to the distribution

In [15]:
des

count    10.000000
mean     18.000000
std       9.820613
min       5.000000
25%      10.500000
50%      17.500000
75%      24.750000
max      33.000000
dtype: float64

In [16]:
IQR = des['75%'] - des['25%']
IQR

14.25

In [17]:
lower_limit = des['25%'] - 1.5 * IQR

In [18]:
upper_limit = des['75%'] + 1.5 * IQR

In [19]:
lower_limit

-10.875

In [20]:
upper_limit

46.125

In [21]:
# for the above series lower_limit < min and upper_limit>max hence there is no outliers

In [22]:
des = data.age.describe()
des

count    48842.000000
mean        38.643585
std         13.710510
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [23]:
IQR = des['75%'] - des['25%']
IQR

20.0

In [24]:
lower_limit = des['25%'] - 1.5 * IQR

In [25]:
upper_limit = des['75%'] + 1.5 * IQR

In [26]:
lower_limit

-2.0

In [27]:
upper_limit

78.0

In [28]:
(data.age>78)

0        False
1        False
2        False
3        False
4        False
         ...
48837    False
48838    False
48839    False
48840    False
48841    False
Name: age, Length: 48842, dtype: bool

### Calculating aggregates such as mean,median,sum,cumsum etc for different categories are important as part of EDA

In [29]:
data.head()

,age,work class,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [30]:
data['work class'].unique().tolist()

['Private',
 'Local-gov',
 '?',
 'Self-emp-not-inc',
 'Federal-gov',
 'State-gov',
 'Self-emp-inc',
 'Without-pay',
 'Never-worked']

In [33]:
data.shape

(48842, 15)

In [34]:
data[data['work class']=='Private']['age'].mean()

36.90314398631511

In [35]:
data[data['work class']=='Local-gov']['age'].mean()

41.67602040816327

In [37]:
### group by - to group the dataframe with respect one or more categories

avg_age = data.groupby('work class')['age'].mean()

In [42]:
avg_age

work class
?                   40.141122
Federal-gov         42.577514
Local-gov           41.676020
Never-worked        19.900000
Private             36.903144
Self-emp-inc        45.799410
Self-emp-not-inc    45.332470
State-gov           39.512367
Without-pay         47.285714
Name: age, dtype: float64

In [40]:
avg_age.loc['Private']

36.90314398631511

In [41]:
avg_age.loc['Local-gov']

41.67602040816327

In [43]:
data.groupby('gender')['age'].mean()

gender
Female    36.927989
Male      39.494395
Name: age, dtype: float64

In [44]:
data.groupby('gender')['age'].sum()

gender
Female     597938
Male      1289492
Name: age, dtype: int64

In [45]:
data.groupby('gender')['age'].median()

gender
Female    35.0
Male      38.0
Name: age, dtype: float64

In [46]:
data.groupby('gender')['age'].min()

gender
Female    17
Male      17
Name: age, dtype: int64

In [47]:
data.groupby('gender')['age'].max()

gender
Female    90
Male      90
Name: age, dtype: int64

In [52]:
data.groupby('work class')['age','hours-per-week'].mean().sort_values('age',ascending=False)

/var/folders/v1/j_tclzln013cp49n8d6pt7vm0000gn/T/ipykernel_30752/3411422998.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data.groupby('work class')['age','hours-per-week'].mean().sort_values('age',ascending=False)

                        age  hours-per-week
work class
Without-pay       47.285714       33.952381
Self-emp-inc      45.799410       48.570501
Self-emp-not-inc  45.332470       44.395132
Federal-gov       42.577514       41.513268
Local-gov         41.676020       40.847258
?                 40.141122       31.812433
State-gov         39.512367       39.090863
Private           36.903144       40.273137
Never-worked      19.900000       28.900000

In [60]:
data.groupby(['work class','gender'])['age','hours-per-week'].mean()

/var/folders/v1/j_tclzln013cp49n8d6pt7vm0000gn/T/ipykernel_30752/2972338198.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data.groupby(['work class','gender'])['age','hours-per-week'].mean()

                               age  hours-per-week
work class       gender
?                Female  36.126772       29.914961
                 Male    43.475474       33.388489
Federal-gov      Female  41.314159       39.882743
                 Male    43.160204       42.265306
Local-gov        Female  41.488871       39.014308
                 Male    41.801384       42.075080
Never-worked     Female  21.666667       23.333333
                 Male    19.142857       31.285714
Private          Female  35.719114       36.510647
                 Male    37.518806       42.229524
Self-emp-inc     Female  43.957346       42.398104
                 Male    46.061321       49.448113
Self-emp-not-inc Female  44.365660       37.227345
                 Male    45.520569       45.789669
State-gov        Female  38.359109       36.901704
                 Male    40.234811       40.462233
Without-pay      Female  52.857143       32.285714
                 Male    44.500000       34.785714

In [61]:
gender_grouping = data.groupby('gender')

In [62]:
type(gender_grouping)

pandas.core.groupby.generic.DataFrameGroupBy

In [65]:
gender_grouping['age'].mean()

gender
Female    36.927989
Male      39.494395
Name: age, dtype: float64

In [66]:
data.groupby('gender')['age'].mean()

gender
Female    36.927989
Male      39.494395
Name: age, dtype: float64

In [67]:
data.groupby('gender')['age'].median()

gender
Female    35.0
Male      38.0
Name: age, dtype: float64

In [68]:
data.groupby('gender')['age'].max()

gender
Female    90
Male      90
Name: age, dtype: int64

In [69]:
gender_grouping['age'].max()

gender
Female    90
Male      90
Name: age, dtype: int64

In [70]:
gender_grouping['age'].mean()

gender
Female    36.927989
Male      39.494395
Name: age, dtype: float64

In [71]:
gender_grouping['age'].median()

gender
Female    35.0
Male      38.0
Name: age, dtype: float64

In [72]:
gender_grouping.ngroups

2

In [73]:
work_gender_grouping = data.groupby(['work class','gender'])

In [75]:
data['work class'].nunique()

9

In [76]:
data['gender'].nunique()

2

In [77]:
work_gender_grouping.ngroups

18

In [78]:
work_gender_grouping['age'].mean()

work class        gender
?                 Female    36.126772
                  Male      43.475474
Federal-gov       Female    41.314159
                  Male      43.160204
Local-gov         Female    41.488871
                  Male      41.801384
Never-worked      Female    21.666667
                  Male      19.142857
Private           Female    35.719114
                  Male      37.518806
Self-emp-inc      Female    43.957346
                  Male      46.061321
Self-emp-not-inc  Female    44.365660
                  Male      45.520569
State-gov         Female    38.359109
                  Male      40.234811
Without-pay       Female    52.857143
                  Male      44.500000
Name: age, dtype: float64

In [93]:
output = work_gender_grouping['age','hours-per-week'].mean().sort_values('age',ascending=False).head(5)

/var/folders/v1/j_tclzln013cp49n8d6pt7vm0000gn/T/ipykernel_30752/609857689.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  output = work_gender_grouping['age','hours-per-week'].mean().sort_values('age',ascending=False).head(5)

In [94]:
output

                               age  hours-per-week
work class       gender
Without-pay      Female  52.857143       32.285714
Self-emp-inc     Male    46.061321       49.448113
Self-emp-not-inc Male    45.520569       45.789669
Without-pay      Male    44.500000       34.785714
Self-emp-not-inc Female  44.365660       37.227345

### fnlwgt (final weight)

The weights on the Current Population Survey (CPS) files are controlled to independent estimates of the civilian noninstitutional population of the US. These are prepared monthly for us by Population Division here at the Census Bureau. We use 3 sets of controls. These are:

A single cell estimate of the population 16+ for each state.

Controls for Hispanic Origin by age and sex.

Controls by Race, age and sex.

We use all three sets of controls in our weighting program and "rake" through them 6 times so that by the end we come back to all the controls we used. The term estimate refers to population totals derived from CPS by creating "weighted tallies" of any specified socio-economic characteristics of the population. People with similar demographic characteristics should have similar weights. There is one important caveat to remember about this statement. That is that since the CPS sample is actually a collection of 51 state samples, each with its own probability of selection, the statement only applies within state.


### Capital Gain/Loss

Capital gain is the profit one earns on the sale of an asset like stocks, bonds or real estate. It results in capital gain when the selling price of an asset exceeds its purchase price. It is the difference between the selling price (higher) and cost price (lower) of the asset. Capital loss arises when the cost price is higher than the selling pric

In [95]:
data.head()

,age,work class,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

### Sample EDA questions


1. Which workclass has max/min working hours per week
2. Which occupation has max/min earning
3. Which work class has youngest/eldest/age distribution workes - mean of age for each work class
4. Which education group has max capital gain
5. how many employees loss/win value in shared?
6. which category(gender, race, nationality, work class) has best/worst final weight?
7. what is the average captial gain/loss per category(gender, race, workclass etc.)
8. gender diversity in each work class - which work class has best/worst gender diversity 
9. Relationship based on age
10. gender vs education
11. race vs education

In [98]:
#1.Which workclass has max/min working hours per week

data.groupby('work class')['hours-per-week'].mean().sort_values(ascending=False).head(1)

work class
Self-emp-inc    48.570501
Name: hours-per-week, dtype: float64

In [99]:
data.groupby('work class')['hours-per-week'].mean().sort_values(ascending=True).head(1)

work class
Never-worked    28.9
Name: hours-per-week, dtype: float64

In [100]:
data.groupby('work class')['hours-per-week'].mean().sort_values(ascending=False)

work class
Self-emp-inc        48.570501
Self-emp-not-inc    44.395132
Federal-gov         41.513268
Local-gov           40.847258
Private             40.273137
State-gov           39.090863
Without-pay         33.952381
?                   31.812433
Never-worked        28.900000
Name: hours-per-week, dtype: float64

In [103]:
#2.Which occupation has max/min earning

data.groupby('occupation')['income'].value_counts(normalize=True)*100

occupation         income
?                  <=50K     90.566038
                   >50K       9.433962
Adm-clerical       <=50K     86.312600
                   >50K      13.687400
Armed-Forces       <=50K     66.666667
                   >50K      33.333333
Craft-repair       <=50K     77.372382
                   >50K      22.627618
Exec-managerial    <=50K     52.218206
                   >50K      47.781794
Farming-fishing    <=50K     88.389262
                   >50K      11.610738
Handlers-cleaners  <=50K     93.339768
                   >50K       6.660232
Machine-op-inspct  <=50K     87.690271
                   >50K      12.309729
Other-service      <=50K     95.856185
                   >50K       4.143815
Priv-house-serv    <=50K     98.760331
                   >50K       1.239669
Prof-specialty     <=50K     54.893065
                   >50K      45.106935
Protective-serv    <=50K     68.667345
                   >50K      31.332655
Sales              <=50K     73.201308
                   >50K      26.798692
Tech-support       <=50K     70.954357
                   >50K      29.045643
Transport-moving   <=50K     79.575372
                   >50K      20.424628
Name: income, dtype: float64